/* =====================
   COMMON COLORS
   ===================== */
/* =====================
   TOP BAR
   ===================== */
/* =====================
   MAIN
   ===================== */
/* =====================
   LEFT SIDEBAR
   ===================== */
.top-bar {
  top: 0;
  left: 0;
  height: 50px;
  background: #242729;
  border-top-width: 1px;
  border-color: #666666;
  border-top-style: solid;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
  /* =====================
   LOGO
   ===================== */
  /* =====================
   SEARCH BAR
   ===================== */
  /* =====================
   LINKS
   ===================== */ }
  .top-bar__container {
    max-width: 1264px; }
  .top-bar__logo {
    width: 165px; }
    .top-bar__logo a .fa-stack-overflow {
      font-size: 2rem; }
    .top-bar__logo__brand {
      font-size: 1.1rem; }
  .top-bar__search-bar {
    flex-grow: 1; }
    .top-bar__search-bar__channel {
      color: #d6d9dc;
      background-color: #535a60;
      border-color: #535a60; }
      .top-bar__search-bar__channel:focus {
        color: #d6d9dc;
        background-color: #535a60;
        border-color: #535a60;
        z-index: 1;
        border-color: #adb3b9;
        -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3); }
    .top-bar__search-bar__textbox {
      color: #d6d9dc;
      background-color: #3b4045;
      border-color: #3b4045;
      -webkit-border-top-right-radius: 0.2rem !important;
      -moz-border-top-right-radius: 0.2rem !important;
      -ms-border-top-right-radius: 0.2rem !important;
      border-top-right-radius: 0.2rem !important;
      -webkit-border-bottom-right-radius: 0.2rem !important;
      -moz-border-bottom-right-radius: 0.2rem !important;
      -ms-border-bottom-right-radius: 0.2rem !important;
      border-bottom-right-radius: 0.2rem !important; }
      .top-bar__search-bar__textbox:focus {
        color: #d6d9dc;
        background-color: #3b4045;
        border-color: #3b4045;
        border-color: #adb3b9;
        -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3); }
      .top-bar__search-bar__textbox:focus + .top-bar__search-bar__submit {
        visibility: visible; }
    .top-bar__search-bar__submit {
      visibility: hidden;
      z-index: 4;
      right: 0;
      -webkit-border-top-left-radius: 0;
      -moz-border-top-left-radius: 0;
      -ms-border-top-left-radius: 0;
      border-top-left-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-bottom-left-radius: 0;
      -ms-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0; }
  .top-bar__links {
    width: 320px; }
    .top-bar__links__item a {
      display: block;
      padding: 0.75rem 1rem; }
      .top-bar__links__item a .fa {
        font-size: 1.2rem; }
        .top-bar__links__item a .fa.fa-inbox {
          font-size: 1.4rem; }
    .top-bar__links__item:hover {
      background-color: #3b4045; }
    .top-bar__links__item--profile {
      width: 100px; }
      .top-bar__links__item--profile .avatar {
        width: 25px;
        height: 25px; }
      .top-bar__links__item--profile .repulation,
      .top-bar__links__item--profile .bronze {
        font-size: 0.75rem; }

.main .left-sidebar__private-team, .main .left-sidebar__links {
  border-bottom: 1px solid #e4e6e8; }

.main {
  max-width: 1264px;
  /* =====================
   LEFT SIDEBAR
   ===================== */
  /* =====================
   CONTENT
   ===================== */ }
  .main .left-sidebar {
    width: 164px;
    padding-top: 1.5rem; }
    .main .left-sidebar__channel__thumbnail {
      width: 96px;
      height: 96px;
      background-color: #666666;
      -webkit-box-shadow: 0 2px 8px rgba(59, 64, 69, 0.2);
      -moz-box-shadow: 0 2px 8px rgba(59, 64, 69, 0.2);
      box-shadow: 0 2px 8px rgba(59, 64, 69, 0.2);
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      border-radius: 0.7rem; }
      .main .left-sidebar__channel__thumbnail img {
        -webkit-border-radius: 0.7rem;
        -moz-border-radius: 0.7rem;
        -ms-border-radius: 0.7rem;
        border-radius: 0.7rem; }
    .main .left-sidebar__channel__name {
      color: #242729;
      font-size: 1.05rem; }
    .main .left-sidebar__private-team {
      font-size: 0.8rem; }
    .main .left-sidebar__links {
      padding: 1.5rem 0; }
      .main .left-sidebar__links__item a {
        display: block;
        color: #535a60;
        padding: 0.6rem;
        font-size: 0.8rem; }
        .main .left-sidebar__links__item a:hover {
          color: #242729; }
      .main .left-sidebar__links__item--active a {
        color: #242729;
        background-color: #e4e6e8;
        font-weight: bold;
        border-right: 3px solid #666666; }
  .main .content {
    height: 1000px;
    margin-left: 164px;
    padding: 1.5rem;
    border-left: 1px solid #d6d9dc; }

.footer {
  height: 100px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 50px; }

a:hover {
  text-decoration: none; }
